@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

body {
    font-family: 'Ubuntu', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 400;
    background-color: #582A72;
    color: #AB8A39;
}

#addComment h2 {
	margin-top: 50px;
}

h2 {
	text-decoration: underline;
}

#addComment button {
	margin-top: 15px;
}

.product-picture {
    float: left;
    height: 130px;
    margin-right: 10px;
}

#commentSpinner {
	position: relative;
	left: 270px;
	bottom: 40px;
}

#addSpinner {
	position: relative;
	left: 170px;
	bottom: 0px;
}

.form-group {
	margin-bottom: 1px;
	margin-top: 1px;
}

#name {
	font-size: 20px;
}

#title {
	font-size: 15px;
}

#comment {
	font-size: 15px;
}

#rating {
	width: 500px;
	margin-top: 0px;
	margin-bottom: 5px;
	font-size: 30px;
}

#score {
	font-size: 25px;
}

#refresh {
	position: relative;
	left: 160px;
	bottom: 55px;
}

#upvote, #downvote, #delete {
	margin-bottom: 50px;
	width: 30px;
}

#border {
	border-bottom: 5px #AB8A39 double;
}






